<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-item>
    <ion-label >
      Contents
    </ion-label>
  </ion-item> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary">Yo-Yo Intermittent Recovery Test </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">Summary</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p>The Yo-Yo Intermittent Recovery Test Level 1 test was developed to 
        measure an athlete’s ability to repeatedly perform high-intensity 
        aerobic work. Since then, it has established itself as one of the most 
        commonly used aerobic field tests for youth and recreational athletes. 
        It has been shown to be a valid and reliable predictor of high-intensity 
        aerobic capacity and VO2 max amongst athletes from various sports and 
        competition-levels.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">
          What is the Yo-Yo Intermittent Recovery Test?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p>There are three variations of the yo-yo intermittent recovery test: level 1, 
        level 2 and the submaximal test. The yo-yo intermittent recovery level 1 (YYIR1) 
        focuses on an individual’s ability to repeatedly perform high-intensity aerobic 
        work. The yo-yo intermittent recovery level 2 (YYIR2) test examines the capacity 
        to perform intense intermittent exercise with a large anaerobic component in 
        combination with a significant aerobic contribution. The submaximal yo-yo 
        intermittent recovery test was developed as a method of monitoring performance 
        during competitive periods (e.g. in-season), injury rehabilitation, or individuals 
        who may struggle with performing the maximal tests (1).</p>
        <p>The YYIR tests are a simple method for examining an athlete’s capacity 
        to perform repetitive high-intensity aerobic exercise (2). The YYIR1 is 
        designed for young or recreational athletes who possess lower aerobic capacity – this level begins at 10km/hr. The YYIR2, on the other hand, is designed for elite and professional athletes with a higher fitness capacity – this test begins at 13km/hr. Therefore, the only difference between these two tests is the speed of which they are conducted (1).
        It has been demonstrated in sports involving high-intensity intermittent 
        exercise that the higher the competition-level of the athlete, the better 
        their performance on the YYIR tests (2).</p>
        <p> Performances in the YYIR tests for 
        young athletes have also been shown to improve with increases in age 
        (3, 4, 5, 6). However, this may be more specifically related to biological 
        maturity rather than chronological age.</p>
        <p>
        Regardless, YYIR tests have also been demonstrated to be a more sensitive 
        measure of performance changes than maximum oxygen uptake (V02 max). Furthermore, 
        as relationships between sub-maximal YYIR test performance and heart rate have 
        been observed, non-exhaustive versions of these tests can be used during competitive 
        periods (in-season), elderly subjects, and athletes recovering from injury (2).</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="primary">Procedure – How to conduct the test</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>It is important to note that whenever fitness testing is performed, 
            it must be done so in a consistent environment (i.e. facility), so 
            that it is protected from varying weather types, and with a dependable 
            surface that is not effected by wet or slippery conditions. If the environment 
            is not consistent, the reliability of repeated tests at later dates can be 
            substantially hindered and result in worthless data.</p>
      </ion-card-content>
    </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="primary">Required equipment</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ul>
            <li><p>Facility – Consistent, flat and non-slip (minimum length of 30m)</p></li>
            <li><p>Marking cones</p></li>
            <li><p>Measuring tape (>30m)</p></li>
            <li><p>YYIR test audio CD or MP3</p></li>
            <li><p>CD or MP3 player with loud speaker (volume of speaker is particularly important).</p></li>
            <li><p>Performance recording sheet.</p></li>
            <li><p>Officiator recording the number of shuttles completed (explained in ‘Scoring’ section).</p></li>
          </ul>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="primary">Test Configuration</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Figure 1 displays the configuration for the YYIR tests, this must 
              be adhered to if accurate and reliable data is desired.</p>
              <ion-img src="/assets/YoYoSetup.png"></ion-img>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">Procedure</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <p>Once the tests configuration has been setup, test officials are positioned at both 
                shuttle lines (cone B and C) and participants are ready, then the test can begin.</p>
          </ion-card-content>
        </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">Test Procedure</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ul>
                <li><p>
                  Participants begin the test from cone B.
                </p></li>
                <li><p>
                  When instructed by the audio player, they must run towards cone C 
                    (this must be reached before the following beep signal) and immediately 
                    return to cone B before the next signal.
                </p></li>
                <li><p>
                  Once cone B is reached, participants then have a 10-second recovery 
                    period in which they must jog from cone B towards cone A, and then back to 
                    cone B before the commencement of the next shuttle.
                </p></li>
                <li><p>
                  In this test the participants are only allowed two consecutive fail attempts before 
                    they are withdrawn from the test. That being, if the individual fails to 
                    reach cone C and back to cone B in the allocated time, one fail 
                    is issued. If this happens a second consecutive time, then they 
                    are eliminated.
                </p></li>
                <li><p>
                  Once withdrawn from the test, the individuals score must be recorded.
                </p></li>
                <li><p>
                  The YYIR1 typically last for 5-15 minutes, and the YYIR2 for roughly 2-15 minutes (2, 7).
                </p></li>
              </ul>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="primary">Scoring System</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>The test is comprised of 91 shuttles and can last up to approximately 
                  29-minutes; however, it is very unlikely somebody will complete it. 
                  Scores can be presented in three ways: 1) total distance (meters); 
                  2) level achieved; or 3) VO2 max. Total distance is much simpler to 
                  understand and calculate, whereas level achieved is more complex as the 
                  test begins at level 5 and then skips to level 9 at the beginning.</p>
            </ion-card-content>
          </ion-card>     
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="primary">How to: Calculate Total Distance</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>This is the simplest, most common, and perhaps the most reliable method
                   of reporting YYIR test performance.</p> 
                <p>   To calculate total distance, the 
                   simplest method is to record the number of shuttles completed by the 
                   participant and then multiply that number by 40 (40 = 2 x 20m shuttles 
                   [the run from cone B to cone C = 20m, then run back from cone C to cone 
                   B = 20m]).</p>
                <p>For example, if an athlete performs 30 shuttles, this number can then 
                   be multiplied by 40 to calculate their total distance (e.g. 30 x 40 = 1,200m)</p>
            </ion-card-content>
          </ion-card>     
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="primary">How to: Calculate Level Achieved</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>To calculate level achieved, click the link below. The image is very large, so make sure you zoom in to see it correctly.</p>
                <ion-buttons >
                    <button  ion-button (click)="redirectToLevel()" > Image Link </button>
                </ion-buttons>
            </ion-card-content>
          </ion-card>     
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="primary">How to:&nbsp;Calculate V0<sup>2</sup>&nbsp;Max
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Though the YYIR1 has been shown to be a moderately reliable predictor of 
                  V0<sup>2</sup> max (8, 9), it is advised to use the test for what it was originally
                   developed for – identifying an individual’s ability to repeatedly perform 
                   high-intensity aerobic work, which has proven to be a more sensitive measure
                   of changes in performance than V0<sup>2</sup> max. Regardless, for those who wish to
                   use this method, the equations for calculating V0<sup>2</sup> max are below:</p>                
                   <ul>
                      <li><em>YYIR1 test: V0<sup>2&nbsp;</sup>max (mL * kg<sup>-1&nbsp;</sup>* min<sup>-1</sup>) = IR1 distance (m) × 0.0084 + 36.4</em></li>
                      <li><em>YYIR2 test: V0<sup>2&nbsp;</sup>max (mL * kg<sup>-1&nbsp;</sup>* min<sup>-1</sup>) = IR2 distance (m) × 0.0136 + 45.3</em></li>
                      </ul>   
            </ion-card-content>
          </ion-card>     
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="primary">What now?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Some coaches believe that reading one article will make them an expert on 
                Performance Testing. Here’s why they’re wrong…</p>
              <p>Performance Testing entails many, many topics. By choosing to simply 
                read up on The Yo-Yo Intermittent Recovery Test (level 1) and ignore the sea 
                of other crucial Performance Testing topics, you run the risk of being 
                detrimental to your athlete’s success and not realising your full potential.
              </p>                
            </ion-card-content>
          </ion-card>     
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="primary">Disclaimer</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>All information provided in this article is for informational and 
                educational purposes only. We do not accept any responsibility for the 
                administration or provision of any testing conducted, whether that results 
                in any positive or negative consequences. As an example, we do not take any 
                responsibility for any injury or illness caused during any test administration. 
                All information is provided on an as-is basis.
              </p>                           
            </ion-card-content>
          </ion-card>     
</ion-content>
